<div class="container">
  <h1>Fab and Kris' Awesome Url Shortener!!!!!</h1>
  <p>Here is your shortened url!</p>
  <a href='/<%=@url.short_url %>'><%=@url.short_url %></a>
  <br>
  <a href='/secret'>Go back to your secret page</a>
</div>
