<div class="container">
  <h1>Welcome to the secret page!</h1>
  <p>You got here because you logged in.</p>
  <a href='/logout'>Click here to log out</a>

  <ul>
    <% @list_short_urls.each  do |url| %>
      <li> <a href='/<%= url.short_url %>'><%= url.short_url %></a>
        <%= url.click_count %>  Clicks</li>
    <% end %>
  </ul>

  <form action='/secret_urls' method='post'>
    Your url (Please include http:// in your link!):  <input type="text" name="long_url">
    <input type="submit" value="Shorten!">
  </form>
  <p><%= @error %></p>
</div>




